{%  extends "home/base.html" %}
{%  block title  %} Opciones Estudiantes {% endblock %}

{%  block content %}
<style>
    .miTable{
        border-collapse: collapse;
        margin: 0 auto;
    }
    td {border-style: solid;
        border-color: #cccccc;
        border-width: 1px;}
    
</style>

<h1 class="text-center">Detalle Estudiante </h1>

<h2>{{ titulo }}</h2>

    <p>
    {{ object }}
    </p>
    <div class="text-center">
    <h2 style="color: rgb(209, 123, 10)">INFORMACIÓN</h2>
    <p style="color: white;">
        {{ object.primernombre }} {{ object.apellido }} 
        <br>
        {{ object.facultad }}
        <br>
        {{ object.hability }}
        <br>
        {{ object.tipos }}
        <br>
    </p>
    <table border="1" class="miTable;"  style="background-color: white; margin: 0 auto;">
        <tr>
          <td>{{ object.carta|safe }}</td>
        </tr>
    </table>
    </div>

{% endblock %}