{%  extends "home/base.html" %}
{%  block title  %} Opciones Estudiantes {% endblock %}

{%  block content %}
{% load static %}
<link href="{% static 'css/confirmar.css' %}" type="text/css" rel="stylesheet">

<h1 class="text-center">Estudiantes por Busqueda</h1>
<form method="get">{% csrf_token %}
    <input type="text" id="nombre" name="nombre" placeholder="Nombre estudiante:">
    <button type="submit" class="boton_personalizado">Buscar</button>
</form>

<h3>Resultados de la Búsqueda</h3>
<ul>
    {% for e in estudiantes %}
        <li style="color: white;">
            {{e.primernombre}} {{e.apellido}}; {{e.facultad}}
        </li>
    {% endfor %}

</ul>





{% endblock %}