{%  extends "home/base.html" %}
{%  block title  %} Opciones Estudiantes {% endblock %}

{%  block content %}
{% load static %}
<link href="{% static 'css/botones.css' %}" type="text/css" rel="stylesheet">

<ul>
    {% for e in listaFacultades %}
        <li>
            <a href="{% url 'listEstFacu2' facultad=e.nombreCorto %}">
                <button class="boton_personalizado"> Estudiantes {{ e.nombreCorto }}</button>
            </a>
        </li>
        <br>
    {% endfor %}
</ul>

{% endblock %}